{{#each week as |day|}}
    <div {{action 'eventModal' day}} class="month-week-day {{day.otherMonth}}">
        {{day.day}}
    </div>
{{/each}}

{{#if isShowingModal}}
    {{#modal-dialog close='eventModal' translucentOverlay=true}}
        HOLA
    {{/modal-dialog}}
{{/if}}