@import 'variables';
@import 'mixins';

@import 'month';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://file.myfontastic.com/XT2VTpwh6FpoyQPKrtV7gR/icons.css');

@import 'ember-modal-dialog/ember-modal-structure';
@import 'ember-modal-dialog/ember-modal-appearance';

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}