.month {
    max-width: 1000px;
    margin: 20px auto 0;
    border-left: 1px solid $dark-green;
    border-right: 1px solid $dark-green;
    border-top: 1px solid $dark-green;
    
    .month-title {    
        font-size: 2.5vw;
        padding: 10px 10px;
        color: $dark-green;
        display: flex;
        justify-content: space-between;

        .icon {
            position: relative;
            top: 5px;
            color: $dark-green;
            text-decoration: none;
            
            @include transition(color .25s ease-in-out);

            &:hover {
                color: $green;
            }
        }
    }

    .month-header {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        background: $green;
        color: white;

        .month-header-day {
            padding: 10px;
            border-right: 1px solid $dark-green;
            text-align: center;
            width: calc(100% / 7);
            
            &:last-child {
                border: 0;
            }
        }
    }

    .month-week {
        display: flex;
        justify-content: flex-end;

        .month-week-day {
            $week-day-border: 1px solid $gray;

            width: calc(100% / 7);
            text-align: right;
            border-right: $week-day-border;
            border-bottom: $week-day-border;
            height: 75px;
            padding: 10px 5px 0;
            font-size: 1.3vw;
            color: $dark-green;

            &:last-child {
                border-right: 0;
            }

            &.other-month {
                color: $gray;
                background: $light-gray;
            }

            .day-event {
                background: $green;
                color: white;
                font-size: 10px;
                padding: 5px;
                text-align: left;
            }
        }
    }
}